* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.header {
  background-color: white;
  padding: 1rem;
  position: relative;
  z-index: 1004;
}

.section {
	
}

.btns {
  position: absolute;
  bottom: 0;
  z-index: 1004;
}

.pano-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#pano {
	position: relative;
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
}

#contextmenuBtns {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  padding: 1rem;
  background: rgba(0,0,0,.5);
}

.regist-container {
	background-color: none;	
}

.info-btn {
	padding: 1rem;
	border-radius: 10%;
	background-color: rgba(20, 20, 20, .3);
	color: white;
	width: 3rem;
    height: 3rem;
    line-height: 0.5rem;
    text-align: center;
}

.info-btn:hover {
	background-color: rgba(20, 20, 20, .6);
}


.info-btn .info-btn-title {
    transition: width .3s;
    background-color: rgba(20, 20, 20, .8);
    width: 0rem;
    height: 0rem;
    border-radius: 10rem;
    overflow: hidden;
    line-height: 3rem;
}

.info-btn:hover .info-btn-title {
	width: 30rem;
	height: 3rem;
}

.link-btn {
	padding: 1rem;
	border-radius: 50%;
	background-color: rgba(20, 20, 20, .3);
	color: white;
	width: 3rem;
    height: 3rem;
    line-height: 0.5rem;
    text-align: center;
}

.link-btn:hover {
	background-color: rgba(20, 20, 20, .9);
}

.link-btn .link-btn-tooltip {
	width: 10rem;
    position: absolute;
    top: -3rem;
    left: -3rem;
    background-color: rgba(20,20,20,.8);
    height: 2rem;
    line-height: 2rem;
    border-radius: 10rem;
    opacity: 0;
    transition: opacity 1s;
}

.link-btn:hover .link-btn-tooltip {
	opacity: 1;
}




.top-bar {
    position: absolute;
    top: 0;
    background: rgba(0,0,0,.7);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-bar-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.footer {
	background: rgba(0,0,0,.7);
    min-width: 100%;
}

.footer-locations {
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    position: relative;
    transition: left 1s;
}

.footer-locations-item {
	margin: .5rem;
	padding: .5rem;
	border-radius: 10px;	
	border: 1px solid rgba(135,206,235,.0);
	cursor: pointer;
}

.footer-locations-item.selected {
	border: 1px solid rgba(135,206,235,.7);
	background-color: rgba(135,206,235,.7);	
}

.footer-locations-item:hover {
	border: 1px solid rgba(135,206,235,.7);
}

.footer-btns {
    position: relative;
    top: -8.6rem;
    width: 100vw;
}

.footer-btns-item {
	display: flex;
    align-items: center;
    padding: 1rem;
    background: rgba(100,100,100,.7);
   	cursor: pointer;
}

.footer-btns-item:hover {
	background: rgba(100,100,100,1);
}

.footer-btns-left {
    position: absolute;
    left: 0;
    height: 8.6rem;
    
}

.footer-btns-right {
    position: absolute;
    right: 0;
    height: 8.6rem;
}